# Reverse a list and print it:


#### Write code that takes a list as input and 
#### returns a new list with the elements in reverse order.
#### Example: Input [1, 4, 2, 5] should output [5, 2, 4, 1].

In [5]:
# list1 =[1,2,3,4,5,6,7,8,9]
# list2 =[]
# for i in range(len(list1),-1,-1):
#     list2.append(i)
# print(list2)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# Find the largest and smallest element in a list of numbers:


#### Write code that finds the largest and
#### smallest numerical values in a given list.
#### Example: Input [8, 2, 15, 3, 9] should output Largest: 15, Smallest: 2.

In [15]:
# list1 = [8,6,10,4,6,7]
# smallest = largest = list1[0]
# for i in list1:
#     if i < smallest:
#         smallest = i
#     elif i>largest:
#             largest = i
            
# print(f"largest:{largest}, smallest: {smallest}")

largest:10, smallest: 4

# Check if a specific element exists in a list and return its index if found:


#### Write code that searches for a given element in a list and
#### returns its index if it exists, otherwise returns -1.
#### Example: Input my_list = [5, 7, 3, 9] and search_value = 3 should output Index of 3  is :2.

In [16]:
# list1=[1,2,5,8,5,44,67,34,96]
# user_input=int(input("serch index : "))
# for i in range(0,len(list1)):
#     if list1[i]==user_input:
#         print(f"the index is : {i}")

serch index : 2
the index is : 1

# Remove all duplicate elements from a list and print the unique elements:

#### Write code that removes all duplicates from a 
#### list, preserving only the unique elements.
#### Example: Input [2, 5, 2, 8, 5, 1] should output [2, 5, 8, 1].

In [34]:
# list1 = [1,1,3,5,4,5,7,6,3,9]
# unique_list= []
# for i in list1:
#     if i not in unique_list:
#         unique_list.append(i)
        
# print(unique_list)

[1, 3, 5, 4, 7, 6, 9]

# Merge two lists and sort the combined list in ascending order:
#### Write code that takes two lists as input, merges them into a 
#### single list, and sorts the resulting list in ascending order.
#### Example: Input list1 = [3, 1, 5] and list2 = [2, 4, 6] should output [1, 2, 3, 4, 5, 6].

In [6]:
# list1 = [4,3,2,1]
# list2 = [9,8,7,6]
# list3 = list1+list2
# n =len(list3)
# for i in range(n):
#     for j in range(0,n-i-1):
#         if list3[j]>list3[j+1]:
#             list3[j],list3[j+1]=list3[j+1],list3[j]
# print(list3)

[1, 2, 3, 4, 6, 7, 8, 9]

# Count the occurrences of each element in a list:
#### Write code that counts how many times 
#### each unique element appears in a list.
#### Example: Input ["apple", "banana", "apple", "cherry", "banana"] should
#### output apple: 2, banana: 2, cherry: 1.

In [73]:
# list1 = ["apple","apple","banana", "banana","cherry" ]
# apple =0
# banana =0
# cherry=0
# for i in list1:
#     if i=="apple":
#         apple+=1
#     elif i=="banana":
#             banana+=1
#     elif i=="cherry":
#             cherry+=1
# print(f"there are {apple} apple ,{banana} banana ,{cherry} cherry")

there are 2 apple ,2 banana ,1 cherry

In [20]:
# list1 = ["apple", "banana", "apple", "cherry", "banana","orange",]
# unique_list = []
# for i in list1:
#     if i not in unique_list:
#         unique_list.append(i)
# for i in unique_list:
#     count = list1.count(i)
#     print(f"{i},{count}")

apple,2
banana,2
cherry,1
orange,1

# Split a list into sub-lists of equal size:
#### Write code that divides a list into smaller sub-lists of a given size.
#### Example: Input my_list = [1, 2, 3, 4, 5, 6, 7, 8] 
#### and sub_list_size = 3 should output [[1, 2, 3], [4, 5, 6], [7, 8]].

In [23]:
# my_list = [1, 2, 3, 4, 5, 6, 7, 8]
# sub_list_size = 3

# sub_lists = []

# for i in range(0,len(my_list),sub_list_size):
#     sub_lists.append(my_list[i:i+sub_list_size])
# print(sub_lists)

[[1, 2, 3], [4, 5, 6], [7, 8]]

# Find the sum of all elements in a list:
#### Write code that calculates the sum of all numerical values in a list.
#### Example: Input [5, 10, 2, 8, 1] should output Sum: 26.

In [6]:
# list1 = [1,2,3,4,5,6,7,8,9]
# sum = 0
# for i in list1:
#     sum+=i
# print(sum)

45

# Rotate the elements of a list by a specified number of positions:
#### Write code that shifts the elements of a list to
#### the right by a given number of positions.
#### Example: Input my_list = [1, 2, 3, 4, 5] and rotate_by = 2 should output [4, 5, 1, 2, 3].

In [37]:
# not done

# practice quetion

# 1. Create a list with the names of your favorite fruits. Print the list.

In [2]:
# list_fruits = ["apple","grapes","orange",]
# print(list_fruits)

['apple', 'grapes', 'orange']

# 2. Given a list of numbers, double each element and print the modified list.

In [5]:
# list_num =[1,2,3,4,5,6,7,8,9]
# modified_list =[]
# for i in list_num:
#     x = i*2
#     modified_list.append(x)
# print(modified_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

# 3. Create a list of cities. Print the first and last elements using indexing

In [14]:
# list_cities = ["mumbai","delhi","indore","jaipur"]
# print(list_cities[0])
# print(list_cities[-1])

mumbai
jaipur

# 4. Generate a list of squares for numbers 1 to 10 using list comprehension. Print the resulting list.

In [24]:
# list1=[1,2,3,4,5,6,7,8,9,10]
# list_square=[]
# for i in list1:
#     i**=2
#     list_square.append(i)
# print(list_square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
# list1 =[1,2,3,4,5,6,7,8,9]
# sqr =[i**2 for i in list1]
# print(sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

# 5. Take a list of words and sort them in alphabetical order. Print the sorted list.

In [11]:
# list1 = ["a","b","e","f","g","c"]
# n =len(list1)
# for i in range(n):
#     for j in range(0,n-i-1):
#         if list1[j]>list1[j+1]:
#             list1[j],list1[j+1]=list1[j+1],list1[j]
# print(list1)

['a', 'b', 'c', 'e', 'f', 'g']

# 6. Given a list of ages, filter out the adults (age >= 18). Print the modified list

In [39]:
# list_age =[12,14,16,67,45,32,19,30,11,58]
# list_adults =[]
# for i in list_age:
#     if i>=18:
#         list_adults.append(i)
        
# print(list_adults)

[67, 45, 32, 19, 30, 58]

# 7. Create two lists of colors and concatenate them. Print the combined list.

In [42]:
# list1 =["red","black","brown","orange"]
# list2 =["blue","yellow","gray","white"]
# for i in list1:
#     list2.append(i)
# print(list2)

['blue', 'yellow', 'gray', 'white', 'red', 'black', 'brown', 'orange']

In [41]:
# list1 =["red","black","brown","orange"]
# list2 =["blue","yellow","gray","white"]
# list3 =list1+list2
# print(list3)

['red', 'black', 'brown', 'orange', 'blue', 'yellow', 'gray', 'white']

# 8. Given a list of animals, remove a specific animal from the list. Print the modified list.

In [53]:
# list_animal = ["lion","rabbit","monkey","fox"]
# x =input("remove function : ")
# list_animal.remove(x)
# print(list_animal)

remove function : lion
['rabbit', 'monkey', 'fox']

In [43]:
# list_animal = ["lion","rabbit","monkey","fox"]
# x =input("remove function : ")
# list2=[]
# for i in list_animal:
#     if i==x:
#         pass
#     else:
#         list2.append(i)
# print(list2)

remove function : rabbit
['lion', 'monkey', 'fox']

# 9. Write a function that takes a list of numbers as input 
# and returns the sum of the squares of each number.

In [53]:
# list1 =[int(input()),int(input()),int(input()),int(input()),int(input()),int(input()),int(input()),]
# sum1=0
# for i in list1:
#     i**=2
#     sum1+=i
# print(list1)
# print(sum1)

1
2
3
4
5
6
7
[1, 2, 3, 4, 5, 6, 7]
140

# 10. Reverse the order of elements in a given list of characters. Print the reversed list.

In [55]:
# list1=[1,2,3,4,5,6,7,8,9]
# list1.reverse()
# print(list1)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [94]:
# list1 = [1,2,3,4,5,6,7]
# list2 = []

# for i in range(len(list1)-1,-1,-1):
#     list2.append(list1[i])
    
# print(list2)

[7, 6, 5, 4, 3, 2, 1]