# Find the union and intersection of two sets.

In [29]:
# set1 = {1,2,3,4,5,6}
# set2 = {5,6,7,8,9,10}
# print(set1.union(set2))
# print(set1.intersection(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{5, 6}

In [31]:
# set1 = {1,2,3,4,5,6}
# set2 = {5,6,7,8,9,10}
# set3 =set()
# set4 =set()
# for i in set1:
#     if i in set2:
#         set3.add(i)
        
        
# for i in set1:
#     set4.add(i)

# for i in set2:
#     set4.add(i)

# print(set3)
# print(set4)

{5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Remove all elements from a set that are present in another set.

In [40]:
# set1 = {1,2,3,4,5,5,6,5,7}
# set2 = {1,2}
# set3 = set()

# for i in set1:
#     if i not in set2:
#         set3.add(i)
# print(set3)

{3, 4, 5, 6, 7}

# Check if two sets are disjoint (no elements in common)

In [2]:
# set1 = {1,2,3,4,5,6}
# set2 = {7,8,9,0}

# for i in set1:
#     if i not in set2:
#         check = True
#     else:
#         check = False
# if check  == True:
#     print("no common elements")
# else:
#     print("have common elements")

no common elements

# Generate a set of unique numbers from a list with duplicates

In [3]:
# list1 =[1,2,3,4,5,6,78,9,7,5,4,32,2,1,]
# set2 = set()
# for i in list1:
#     if i not in set2:
#         set2.add(i)
# print(set2)

{32, 1, 2, 3, 4, 5, 6, 7, 9, 78}

# Write a program to find the symmetric difference of two sets

In [91]:
# set1 = {1,2,3,4,5,6,7}
# set2 = {2,4,7,8,9,0}
# sym_def = set()
# # ans = 1,3,5,6,8,9,0
# for i in set1:
#     if i not in set2:
#         sym_def.add(i)
# for i in set2:
#     if i not in set1:
#         sym_def.add(i)
# print(sym_def)

{0, 1, 3, 5, 6, 8, 9}

# Count the number of elements in a set

In [99]:
# set1={1,2,3,4,5,6,7,8,9,0,3,4,5,3,2}
# count =0
# for i in set1:
#     count+=1
# print(count)
# print(set1)
# print(len(set1))

10
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
10

# Check if a specific element is present in a set

In [155]:
# set1 ={1,2,3,4,5,8}
# num = 1
# check=False
# for i in set1:
#     if i == num:
#         check = True
#         break
        
# if check:
#     print(f"the number {num} is prsent in set1 ")
# else:
#     print(f"the number {num} is not in set1")

# Remove all elements smaller than a given value from a set.

In [7]:
# set1 = {1,2,3,4,0,0,0,0,0,5,6,7,8,9,0}
# remove =5
# set2 =set()
# for i in set1:
#     if i>remove:
#         set2.add(i)
# print(set2)

{8, 9, 6, 7}

# Find the subset of one set that is present in another set

In [12]:
# set1 = {1,2,3,4,5}
# sub_set ={1,5,3}
# check = True
# for i in sub_set:
#     if i not in set1:
#         check = False
#         break
# if check:
#     print("yes")
# else:
#     print("no")

yes

# Implement a basic dictionary using sets and functions (key-value pairs and lookups)

In [2]:
# not done